data/*
!data/models*
bin/
*svn*
toolboxes/yalmip
*.zip
results/
figures/
figures_final/
fig_material/
*tar.gz
html/js/
html/css/
toolboxes/
/doc
/html
/html
/data/models/hippo_v2113.ply
/data/models/myhorse14.ply
data/models/
results_upto_arxiv/
